.movie-wrapper {
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background: linear-gradient(
    20deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(130, 83, 215, 1) 71%,
    rgba(190, 145, 212, 1) 100%
  );
}

.genres {
  margin: 1rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
}
.genres span {
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 3rem;
}

.save-btn i.fa-bookmark {
  margin-right: 5px;
}

.save-btn {
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  color: #f79327;
  cursor: pointer;
  text-transform: uppercase;
}

.save-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.back-button {
  position: absolute;
  top: 2rem;
  left: 3rem;
  padding: 8px 13px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 8px 9px rgba(0, 0, 0, 0.22);
}
