.form-container {
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input,
.search-input:focus {
  min-width: 300px;
  background-color: transparent;
  border: none;
  padding: 0 20px;
  outline: none;
  font-size: 0.9rem;
  color: var(--text-white);
}

input::placeholder {
  color: #bababa;
}

i.fa-xmark {
  margin-right: 1rem;
  color: #bababa;
  cursor: pointer;
}
