.form-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.search-input,
.search-input:focus {
  width: 15rem;
  background-color: transparent;
  border: none;
  padding: 5px 20px;
  height: 25px;
  outline: none;
  font-size: 0.9rem;
  color: var(--text-white);
}

input::placeholder {
  color: #bababa;
}

i.fa-magnifying-glass {
  margin-right: 1rem;
  color: #bababa;
  cursor: pointer;
  font-size: 1rem;
}
