@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-[var(--purple)];
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --purple: #8253d7;
  --text-white: #eee;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-white);
  background-color: black;
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.swiper {
  --swiper-theme-color: #999;
  --swiper-pagination-bullet-inactive-color: #999;

  @media (max-width: 640px) {
    --swiper-pagination-bullet-size: 7px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-navigation-size: 40px;
  }

  @media (max-width: 400px) {
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-navigation-size: 25px;
  }
}
