.empty {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 90vh;
}
