.title {
  font-size: 2rem;
  margin: 5rem 3rem 3rem;
}

.mySwiper {
  width: 95%;
  height: auto;
  margin: 3rem;
  cursor: pointer;
}

.movie img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.movie p {
  font-weight: 500;
}
